@import '../../variables';



.categories {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 35px;
    margin-top: 30px;

    &__items {
        background: linear-gradient(180deg, $white 0%, $white 100%);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 40px;
        padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
    }

    &__item {
        &-link {
            display: inline-block;
            outline: $outlineLink;
            padding: 11px 15px;

            text-decoration: none;
            color: $black;

            &--active {
                color: $white;

                outline: $outlineLink;
                background: linear-gradient(180deg, #FD4B4B 0%, #FE2E2E 100%);
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.sort {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(0, -50%);

    &__case {
        position: relative;

        font-size: 14px;
        width: 210px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-img {
            transform: rotate(0);
            width: 8px;
            height: 4px;

            &--rotate {
                transform: rotate(180deg);
            }
        }

        &-link {
            color: #fe5f1e;
            border-bottom: 1px dashed #fe5f1e;
            cursor: pointer;
        }
    }

    &__list {
        position: absolute;
        right: 0;
        top: 180%;
        background: $white;
        padding: 10px 0;
        border-radius: 5px;

        &-items {
            list-style-type: none;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 8px 15px 8px 30px; 
            cursor: pointer;

            &--active {
                font-weight: 600;
                color: #FF8A00;

                background: rgba(255, 238, 204, 0.61);
            }
        }
    }
} 

